.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 5rem;
    background-color: #383838;
    color: white;
}

.item {
    margin: 0;
    padding: 1rem;
}